.EndScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.EndScreen > .Title {
    font-size: 1.75rem;
    font-weight: normal;
}

.EndScreen > :not(.Title) {
    margin-top: 0.75rem;
}