.Input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    z-index: 2;
}

input, input:active, input:focus{
    outline: none;
    border: none;
    padding: 0;
    background: transparent;
    width: 100%;

    caret-color: transparent;
}

.ShowBorder {
    box-shadow: 0 0 10px var(--green1);
    border-radius: 3px;
}

.Caret {
    height: 0.1rem;
    width: calc(100% - 0.1rem);
}

.Blinking {
    animation: blink-animation 0.75s steps(5, start) infinite;
    -webkit-animation: blink-animation 0.75s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}