.Input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 0;
}

input, input:active, input:focus{
    outline: none;
    border: none;
    padding: 0;
    background: transparent;
    width: 100%;

    caret-color: transparent;
}

.Caret {
    height: 0.1rem;
    width: 100%;
}

.Blinking {
    animation: blink-animation 0.75s steps(5, start) infinite;
    -webkit-animation: blink-animation 0.75s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}