.Text {
    display: grid;
    grid-template-columns: 1fr 0.70rem 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    border: red solid 1px;
    padding: 1rem;
    width: 90vw;
}

.Text * {
    display: inline;
}

.BeforeText {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: flex-end;
    white-space: pre;
    overflow: hidden;
    border: green solid 1px;
}

.Input {
    grid-area: 1 / 2 / 2 / 3;
    border: pink solid 1px;
}

.AfterText {
    transform: translateX(-0.65rem);
    grid-area: 1 / 3 / 2 / 4;
    white-space: pre;
    overflow: hidden;
    border: blue solid 1px;
}