body {
  background-color: #181a1b;
  color: #dcdcdc;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  height: calc(100vh - 1rem);
  width: calc(100vw - 1rem);
  padding: 0.5rem;
}

.App * {
  border: none !important;
}