body {
  background-color: #181a1b;
  color: #dcdcdc;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  height: 100vh;
}

.App * {
  border: none !important;
}